.App {
  position: relative;
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.btn {
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(53, 201, 157);
    color: white;
    font-weight: 900;
}

.btn:hover {
  color: white;
  cursor: pointer;
}